/*  your css code here. If applicable */
body{
    margin: 0;
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: #011e29;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 24px;
    font-weight: bold;
}

.container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.latest-news-section{
    background: white;
    width: 200px;
    padding: 20px;
    border-radius: 8px;
}

.latest-news-section h3{
    margin-top: 0;
}

.main-article{
    background: white;
    width: 450px;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.pictorial-news-section{
     background: white;
    width: 200px;
    padding: 20px;
    border-radius: 10px;

    direction: ltr;
    text-align: center !important;
}

.pictorial-news-section img{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 6px;
}
